<!--============= start blog ==================-->
<div class="main-blog">
  <div class="linee1">
      <h2 class="text-center">Blog</h2>
  </div>
  <!---card-->
  <section class="blog">
      <div class="container" *ngIf="!blog_datails">
          <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let blog of blogs">
                  <div class="card" style="width: 18rem;">
                      <a href="" (click)="selectBlog(blog.id)">
                          <img src={{blog.blog_image}} class=" d-block m-auto img-fluid" alt="..." width="80px">
                      </a>
                      <div class="card-body">
                          <a href="">
                              <h5 class="card-title">{{blog.blog_title}}</h5>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="card" style="width: 18rem;" *ngIf="blog_datails">
        <a href="">
            <img src={{blog_datails.blog_image}} class=" d-block m-auto img-fluid" alt="..." >
        </a>
        <p class="blog-date">{{blog_datails.blog_date}}</p>
        <div class="card-body">
            <a href="">
                <h5 class="card-title">{{blog_datails.blog_title}}</h5>
            </a>
            <p class="card-text" [innerHTML]="blog_datails.blog_details"></p>
        </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>